@page
@model IndexModel
<div id="main" class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
    <div class="bg-gray-800 pt-3">
        <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
            <h1 class="font-bold pl-2">Dashboard</h1>
        </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl m-10">
        <div class="card-body">
            <a href="EditConfig?type=BasicFit">
                <h2 class="card-title">Basic Fit</h2>
                <span class="font-bold  text-2xl">@Model.BasicFitCount</span>
                <span class="text-yellow-600">groeplessen</span>
            </a>
        </div>
    </div>
</div>
 