@page
@model IndexModel
<div id="main" class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
    <div class="bg-gray-800 pt-3">
        <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
            <h1 class="font-bold pl-2">Dashboard</h1>
        </div>
    </div>
    <div class="flex flex-wrap">
        <a href="EditConfig?type=BasicFit" class="w-full md:w-1/2 xl:w-1/3 p-6">
            
            <div class="bg-yellow-200 hover:bg-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-xl p-5">
                <div class="flex flex-row items-center ">
                    <div class="flex-1 text-right md:text-center ">
                        <h2 class="font-bold uppercase text-black-600 text-3xl">Basic Fit</h2>  
                        <span class="font-bold  text-2xl">@Model.BasicFitCount</span>
                        <span class="text-yellow-600">groeplessen</span>
                    </div>
                </div>
            </div> 
        </a>
    </div>
</div>